<div class="px-4">
  <button
    (click)="startDownloadAllJob()"
    class="text-light text-decoration-none btn btn-primary w-100 mb-2">
    Start Generating All Videos
  </button>

  @if ((curExam | async) !== undefined) {
    @for (examinee of examinees | async;
      track examinee.firstname + examinee.lastname) {
      <div class="pb-3 w-100">
        <app-download-examinee
          [exam]="(curExam | async)!"
          [examinee]="examinee">
        </app-download-examinee>
      </div>
    }
  }
</div>
