.bottom-bar-height {
  height: 10vh
}

.pointer-hover {
  cursor: pointer;
}

.resize-cursor {
  cursor: e-resize;
  padding-left: 5px;
  padding-right: 5px;
}

.no-cursor-resize {
  cursor: default;
  width: 100%;
  height: 100%;
}

