<div>
  <table class="screen-height container-fluid">
    <tr class="screen-height">
      <td class="bg-light align-top pt-3 left-bar-width">
        @if(curExam | async){
          <div class="overflow-scroll height-examinee-list">
            <h5 class="fw-bold text-center">{{(curExam | async)!.title}}</h5>
            <p class="text-center">
              Pin: {{(curExam | async)!.pin}}
              <br>
              Schüleranzahl: {{(curExam | async)!.amountOfExaminees}}
            </p>
            <h6 class="fw-bold text-center">Examinees</h6>
            <app-examinee-list></app-examinee-list>
          </div>
        }
      </td>
      <td>
        @if (curExam | async) {
          <div class="selector-width w-auto align-top pt-2 px-3 screen-height d-flex justify-content-center align-items-start w-100">
            <app-patrol-page-examinee
              [examId]="(curExam | async)!.id"
              [examinee]="store.value.patrolModeModel.patrol.patrolExaminee"
              [showImage]="true"/>
          </div>
        } @else {
          <div class="selector-width w-auto align-top pt-2 px-3 screen-height d-flex justify-content-center align-items-center">
            <h1 class="text-center text-danger fw-bold">No exam selected</h1>
          </div>
        }
      </td>
    </tr>
  </table>
</div>


<div class="d-flex justify-content-around fixed-bottom bg-light py-2 bottom-bar-height">
  <div class="text-center align-self-center patrol-btn-hover" (click)="setPatrolMode()">
    <label class="patrol-btn-hover">
      Patrol-mode: <label class="patrol-btn-hover"
                          [class]="getPatrolModeOnStateClass()">{{getPatrolModeOnState()}}</label>
    </label>
  </div>

  <div class="text-center align-self-center">
    <label>
      Patrol speed: {{store.value.scheduleServiceModel.timer.patrolSpeed}} sec
    </label>
  </div>

  <div class="text-center align-self-center">

    <label>
      Screenshot capture interval:
      @if (curExam | async) {
        {{(curExam | async)!.screencaptureIntervalSeconds}} sec
      } @else {
        0 sec
      }
    </label>
  </div>

  <div class="text-center align-self-center">
    <button
      type="button"
      class="btn btn-danger"
      [class.active]="!store.value.patrolModeModel.curExamId"
      (click)="stopCurExam()">
      Test beenden
    </button>
  </div>
</div>
